mixin contacts(modifier, badge)
    div(class="contacts #{modifier}")
        if badge
            a#contacts.contacts-badge
        ul.contacts-list
            li.contacts-list-email
                a.contacts-list-email-link(href="mailto:info@rithis.com") info@rithis.com
            li.contacts-list-phone +7 495 660-39-20


block header
  .header
    a.logo(href="/") Студия Ритхис
    mixin contacts("contacts-header")
    hr.header-divider

block body
  .content
    block content
    hr.content-divider

block footer
  .footer
    mixin contacts("contacts-footer", true)
    .links.links-footer
      .links-item.links-item-freelansim
        a.links-item-link(href="http://freelansim.ru/freelancers/rithis") Фрилансим
      .links-item.links-item-card
        a.links-item-link(href="https://elba.kontur.ru/card/rithis") Реквизитка
      .links-item.links-item-github
        a.links-item-link(href="https://github.com/rithis") Github
      .links-item.links-item-copyrights
        © 2012—2013 Студия Ритхис

