extends layout

block title
    title Студия Ритхис

block header
    .header.header-index
        h1.logo.logo-index Студия Ритхис
        mixin contacts("contacts-header contacts-index")
        hr.header-divider


prepend body
    .slogan
        a#slogan.slogan-badge
        p.slogan-text Разработаем ваш проект качественно и в срок
        hr.slogan-divider

block content
    .portfolio.portfolio-index
        a#portfolio.portfolio-badge
        h2.portfolio-title Последние работы

        .portfolio-scroll
            ul.portfolio-scroll-list
                each project in portfolio
                    li.portfolio-scroll-list-item
                        a.portfolio-scroll-list-item-link(href="#")
                            img.portfolio-scroll-list-item-link-image(src=project.logo, alt=project.name)
                        h3.portfolio-scroll-list-item-title
                            a.portfolio-scroll-list-item-title-link(href="#")= project.name

        hr.portfolio-divider

    ul.links
        li.links-item.links-item-portfolio
            a.links-item-link(href="/portfolio/") Портфолио
        li.links-item.links-item-vacancies
            a.links-item-link(href="#") Вакансии
        li.links-item.links-item-freelansim
            a.links-item-link(href="#") Фрилансим
        li.links-item.links-item-card
            a.links-item-link(href="#") Реквизитка
        li.links-item.links-item-github
            a.links-item-link(href="#") Github
            
block footer
    .footer.footer-index
        mixin contacts("contacts-footer contacts-index")
        p.copyrights © 2012—2013 Студия Ритхис