extends layout

block title
    title Студия Ритхис — Портфолио

prepend content
    ul.hot-links
        li.hot-links-item.hot-links-item-right
            a.hot-links-item-link(href="/portfolio/") Портфолио

block content
    .portfolio
        h1.portfolio-title Вакансии
        
        
        ul.links
            li.links-item.links-item-vacancies.php
                a.links-item-link(href="/vacancy/") 
                    span PHP, MySQL, Symfony
            li.links-item.links-item-vacancies.manager
                a.links-item-link(href="/vacancy/") 
                    span Менеджер по развитию
