mixin contacts(modifier, badge)
    div(class="contacts #{modifier}")
        if badge
            a#contacts.contacts-badge
        ul.contacts-list
            li.contacts-list-email
                a.contacts-list-email-link(href="mailto:info@rithis.com") info@rithis.com
            li.contacts-list-phone +7 495 660-39-20

doctype xml
doctype 1.1
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance", xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd")
    head
        block title
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Yeseva+One&subset=latin,cyrillic")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic&subset=latin,latin-ext,cyrillic")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.0.1/normalize.css")
        link(rel="stylesheet", href="/stylesheets/main.css")
        script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js")
    body
        block header
            .header
                a.logo(href="/") Студия Ритхис
                mixin contacts("contacts-header")
                hr.header-divider

        block body
            .content
                block content
                hr.content-divider
        
        block footer
            .footer
               mixin contacts("contacts-footer", true)
               .links.links-footer
                   .links-item.links-item-freelansim
                       a.links-item-link(href="#") Фрилансим
                   .links-item.links-item-card
                       a.links-item-link(href="#") Реквизитка
                   .links-item.links-item-github
                       a.links-item-link(href="#") Github
                   .links-item.links-item-copyrights    
                       © 2012—2013 Студия Ритхис
                    
                 
