extends layout

block title
    title Студия Ритхис — Портфолио

prepend content
    ul.hot-links
        li.hot-links-item.hot-links-item-right
            a.hot-links-item-link(href="#") Вакансии

block content
    div(style="height: 300px")
