extends layout

block title
    title Студия Ритхис — Вакансия / PHP, MySQL, Symfony

prepend content
    ul.hot-links
        li.hot-links-item.hot-links-item-right
            a.hot-links-item-link(href="/portfolio/") Портфолио

block content
    .content-wrapper
        a.hot-links-item-link-back(href="/jobs/") Вакансии
        h1.page-title Разыскиваются программисты на постоянную удаленную работу

        .vacancy-description
            Если вам знакомы слова

            .bigtext PHP, MySQL, git, Symfony, Doctrine, MongoDB и 
                    a(href="#")другие

            мы с удовольствием ознакомимся с вашим резюме после проверки тестового задания
        .vacancy-doc

            h4
                a(href="#")Тестовое задание.pdf
