.contacts.contacts-footer
    responsive margin, 80px 0 60px, \
                       70px 0 50px, \
                       30px 0 20px

    .contacts-list-email, .contacts-list-phone
        // vertical alignment on phone
        phone float none
        phone text-align center

        font-family "Yeseva One"
        responsive font-size 35px same 30px
        font-style normal
        color text

        // used "a" because iOS replaces phone number by link
        a { color: text }

    // change icons style
    .contacts-list-email .contacts-list-email-link:before, .contacts-list-phone:before
        responsive margin-right 10px 0
        font-size 35px

    // margin under email on phone because vertical alignment
    .contacts-list-email
        phone margin-bottom 10px
