.content
    beige-background()
    clamp-background()

    .content-divider
        wave()
        beige-to-silver-wave()

        // smaller fluctuation on phone
        beige-to-silver-wave-phone()
