.contacts .contacts-list
    responsive width 940px 750px 300px
    margin 0 auto
    padding 0
    list-style none
    responsive font-size 21px same 16px
    font-style italic
    clearfix()

    .contacts-list-email
        float left

        .contacts-list-email-link:before
            margin-right 5px
            icon-mail()

            @media (max-width: 979px)
                hide-icon()

    .contacts-list-phone
        float right

        &:before
            // must be little bit bigger
            font-size 25px

            icon-phone()

            @media (max-width: 979px)
                hide-icon()
