.contacts.contacts-footer
    responsive margin, 130px 0 75px, \
                       100px 0 50px, \
                       15px 0 35px

    .contacts-list-email, .contacts-list-phone
        // vertical alignment on phone
        phone float none
        phone text-align center

        font-family "Yeseva One"
        font-style normal
        responsive font-size 35px same 30px
        color #393939

        // used "a" because iOS replaces phone number by link
        a { color: #393939 }

        // change icons style
        &:before
            margin-right 15px
            font-size 35px
    
    // margin under email on phone because vertical alignment
    .contacts-list-email
        phone margin-bottom 15px
