.contacts.contacts-header .contacts-list
    // move to one line with logo
    position absolute
    top 135px

    // centrify
    left 50%
    margin 0 0 0 -470px

    // smaller on tablet
    @media (max-width: 979px)
        top 80px
        margin-left -375px

    // move under logo on phone
    @media (max-width: 767px)
        position static
        margin 15px auto
