.contacts.contacts-header .contacts-list
    // move to one line with logo
    responsive position absolute same static
    responsive top 135px 80px

    // centrify
    left 50%
    responsive margin, 0 0 0 -470px, \
                       0 0 0 -375px, \
                       15px auto
