.expertise-list
    width 290px
    float left
    responsive text-align left same center

.expertise-list ul
    list-style none
    padding 0


.expertise-list
    h2.exertise-title
        font-size 21px

.expertise-content-wrapper
        overflow hidden
        position relative
        responsive width 880px 660px 300px
        responsive padding, 40px 0 0 60px, \
                            40px 0 0 60px, \
                            0px 0 0 15px
        responsive margin, 0 auto 200px, \
                           same, \
                           0 auto 40px

.portfolio .portfolio-title
    responsive margin-top 100px same 45px

.portfolio .portfolio-title span
    display block
    margin 0 auto
    responsive width 375px same 260px
