.footer-contacts
    .footer-contacts-icon
        position relative
        top -75px
        width 128px
        height 128px
        margin 0 auto -128px

    .footer-contacts-list
        width 940px
        margin 0 auto
        padding 70px 0 40px
        list-style none
        font 34px "Yeseva One"
        clearfix()

        @media (max-width: 979px)
            width 740px
            padding 50px 0 10px

            .footer-contacts-list-email, .footer-contacts-list-phone
                i
                    display none

        @media (max-width: 767px)
            width 300px
            padding 30px 0 0

            .footer-contacts-list-email, .footer-contacts-list-phone
                display block
                width 300px
                padding-bottom 5px
                text-align center

        a
            color black-color

        .footer-contacts-list-email
            float left

            i
                margin-right 7px

        .footer-contacts-list-phone
            float right

            i
                position relative
                top -2px
