.header
    beige-background()
    clamp-background()

    // reverse on phone
    retina-background-image-phone("silver-background", 100px, 100px)

    .header-divider
        wave()
        beige-to-silver-wave()

        // reverse on phone
        silver-to-beige-wave-phone()
