.hot-links
    responsive position absolute same static
    top 0
    width 100%
    responsive margin, 0, same, 10px 0
    padding 0
    list-style none
    text-align center
    clearfix()

    .hot-links-item
        display inline-block
        padding 5px 10px
        background-color link
        font-size 12px

        &.hot-links-item-right
            phone float right

        .hot-links-item-link
            font-style italic
            color white
