@font-face
    font-family "rithis"
    src url("/fonts/rithis/rithis.eot")
    src url("/fonts/rithis/rithis.eot?#iefix") format("embedded-opentype"),
        url("/fonts/rithis/rithis.woff") format("woff"),
        url("/fonts/rithis/rithis.ttf") format("truetype"),
        url("/fonts/rithis/rithis.svg#rithis") format("svg")
    font-weight normal
    font-style normal

i[class^=icon]
    display inline-block
    
    &:after
        font-family "rithis"
        font-style normal
        line-height 1

.icon-portfolio:after
    content "\f0000"

.icon-vacancies:after
    content "\f0001"

.icon-freelansim:after
    content "\f0002"

.icon-card:after
    content "\f0003"

.icon-github:after
    content "\f0004"
