.latest-works .latest-works-title
    width 850px
    margin 100px auto 60px

    // style background image
    background-repeat no-repeat
    background-position left center
    line-height 1
    text-align center
    font-size 53px

    retina-background-image("latest-works-title-background")
    retina-background-image-tablet("latest-works-title-background-tablet")
    retina-background-image-phone("latest-works-title-background-phone")
    svg-background-image("latest-works-title-background")
    svg-background-image-tablet("latest-works-title-background-tablet")
    svg-background-image-phone("latest-works-title-background-phone")

    @media (max-width: 979px)
        width 740px
        margin-top 80px
        margin-bottom 50px

    @media (max-width: 767px)
        width 300px
        margin-top 20px
        margin-bottom 25px
        font-size 35px
