.latest-works .latest-works-title
    responsive width 850px 740px 300px
    responsive margin, 100px auto 60px, \
                       80px auto 50px, \
                       20px auto 25px

    // style background image
    responsive image "latest-works-title-background" \
                     "latest-works-title-background-tablet" \
                     "latest-works-title-background-phone"
    responsive svg "latest-works-title-background" \
                   "latest-works-title-background-tablet" \
                   "latest-works-title-background-phone"
    background-repeat no-repeat
    background-position left center
    line-height 1
    text-align center
    responsive font-size 53px same 35px
