.latest-works .latest-works-scroll .latest-works-scroll-list \
        .latest-works-scroll-list-item
    float left
    responsive margin-left 50px 25px

    &:first-child
        margin-left 0

    // right margin on item doesn't work
    // and padding on parent element doesn't work, so
    @media (max-width: 767px)
        &:first-child
            padding-left 70px
        &:last-child
            padding-right 70px

    .latest-works-scroll-list-item-link
        display block

        // make top shadow visible
        margin-top 1px

        border 5px solid border
        border-radius 50%
        box-shadow 0 0 0 1px shadow

        // add inner shadow on image if rgba is supported
        .rgba &:before
            @media (min-width: 768px)
                content ""
                position absolute
                display block
                width 220px
                height 220px
                border-radius 50%
                box-shadow inset 0 2px 3px rgba(0, 0, 0, .5)

            @media (min-width: 980px)
                width 240px
                height 240px

        .latest-works-scroll-list-item-link-image
            display block
            responsive width 240px 220px 160px
            responsive height 240px 220px 160px
            border-radius 50%
