.latest-works
    .latest-works-icon
        position relative
        top -75px
        width 72px
        height 70px
        margin 0 auto -75px
        padding 28px 29px

    .latest-works-title
        width 855px
        margin 0 auto
        padding 60px 0
        background url("/images/line.svg") no-repeat left center

        @media (max-width: 979px)
            width 742px
            padding 45px 0

        @media (max-width: 767px)
            width 300px
            padding 20px 0
            background-image url("/images/small-line.svg")

        h2
            width 630px
            margin 0 auto
            font-size 53px
            font-weight normal
            text-align center

            @media (max-width: 979px)
                width 590px

            @media (max-width: 767px)
                width 220px
                font-size 35px

    .latest-works-wrapper
        width 855px
        margin 0 auto

        @media (max-width: 979px)
            width 755px

        @media (max-width: 767px)
            width 100%
            overflow-x scroll

        .latest-works-list
            margin 0
            padding 0
            list-style none
            clearfix()

            @media (max-width: 767px)
                width 550px
                margin 0 auto
                padding 0 75px

            .latest-works-list-item
                float left
                margin-left 60px

                @media (max-width: 979px)
                    margin-left 10px

                &:first-child
                    margin-left 0

                .latest-works-list-item-object
                    display block
                    width 235px
                    height 235px

                    img
                        width 235px
                        height 235px
                        border-radius 50%

                    @media (max-width: 767px)
                        &, img
                            width 160px
                            height 160px

                .latest-works-list-item-title
                    position relative
                    top -240px
                    margin 0

                    a
                        display block
                        visibility hidden
                        width 237px
                        height 237px
                        margin 0 0 -231px 4px
                        border-radius 50%
                        font-size 18px
                        font-weight 300
                        text-decoration none
                        text-align center
                        line-height 235px
                        background-color rgba(255, 255, 255, 0.8)
                        color black-color
                        text-shadow 1px 1px 1px white

                        @media (min-width: 980px)
                            &:before
                                content "{"
                                position relative
                                top 4px
                                right 5px
                                font-size 36px

                            &:after
                                content "}"
                                position relative
                                top 4px
                                left 5px
                                font-size 36px

                        @media (max-width: 979px)
                            width 245px

                        @media (max-width: 767px)
                            width 170px

                    @media (max-width: 979px)
                        position static

                        a
                            visibility visible
                            height auto
                            margin 0
                            padding 20px 0
                            border-radius 0
                            line-height 1
                            background none
                            text-shadow none

                    &:hover a
                        visibility visible
