.links
    width 940px
    margin 80px auto 100px
    padding 0
    list-style none
    clearfix()

    .links-item
        float left
        font-size 35px

        // first line
        &.links-item-portfolio, &.links-item-vacancies
            width 470px
            margin-bottom 80px

            .links-item-link
                display block

                // fix vacancies
                max-width 370px

                margin 0 auto
                text-align center
                font-size 63px

                // icons above link
                &:before
                    position relative
                    text-shadow 0 -1px 0 black
                    font-size 100px

                    @media (max-width: 767px)
                        font-size 60px

                @media (max-width: 767px)
                    font-size 24px

            @media (max-width: 979px)
                width 370px
                margin-bottom 70px

            @media (max-width: 767px)
                width 150px
                margin-bottom 25px

        // second line
        &.links-item-freelansim, &.links-item-card, &.links-item-github
            .links-item-link:before
                margin-right 5px

                // icon visible only in browser
                @media (max-width: 767px)
                    content "" !important

        // item-specific styles
        &.links-item-portfolio .links-item-link:before
            left 5px
            icon-portfolio()

        &.links-item-vacancies .links-item-link:before
            right 3px
            icon-vacancies()

        &.links-item-freelansim
            width 35%

            .links-item-link:before
                icon-freelansim()

        &.links-item-card
            width 40%
            text-align center

            .links-item-link:before
                icon-card()

        &.links-item-github
            width 25%
            text-align right

            .links-item-link:before
                icon-github()

        @media (max-width: 767px)
            font-size 16px

    @media (max-width: 979px)
        width 740px
        margin-top 50px

    @media (max-width: 767px)
        width 300px
        margin-top 15px
        margin-bottom 25px
