.links.links-footer
    responsive width 940px 740px 301px
    responsive text-align left same center
    responsive margin, 50px auto 60px, \
                       same, \
                       15px auto 20px
    padding 0
    list-style none
    clearfix()
		
    .links-item
        float left
        margin-right 30px
        width auto
        responsive font-size 21px 16px same


        &.links-item-freelansim, &.links-item-card, &.links-item-github
            .links-item-link:before
                responsive margin-right 10px same 0

                @media (max-width: 767px)
                    hide-icon()

        // item-specific styles
        &.links-item-portfolio .links-item-link:before
            left 5px
            icon-portfolio()

        &.links-item-vacancies .links-item-link:before
            right 3px
            icon-vacancies()

        &.links-item-freelansim
	
            .links-item-link:before
                icon-freelansim()

        &.links-item-card

            .links-item-link:before
                icon-card()

        &.links-item-github
            margin-right 0px
            .links-item-link:before
                icon-github()
        &.links-item-copyrights
            responsive clear none same both
            responsive width auto same 301px
            responsive padding-top 0 same 30px
            margin-right 0
            responsive float right same none
            responsive text-align right same center
