.logo
    responsive width 500px 360px 300px
    responsive height 170px 122px 102px
    responsive margin, 50px auto 70px, \
                       40px auto 50px, \
                       20px auto 10px
    responsive image "logo" "logo-tablet" "logo-phone"
    svg "logo"
    hide-text()
