.logo
    width 500px
    height 170px
    margin 60px auto 65px
    
    hide-text()
    retina-background-image("logo")
    retina-background-image-tablet("logo-tablet")
    retina-background-image-phone("logo-phone")
    svg-background-image("logo")

    @media (max-width: 979px)
        width 360px
        height 122px
        margin-top 30px
        margin-bottom 45px

    @media (max-width: 767px)
        width 300px
        height 102px
        margin-top 15px
        margin-bottom 15px
