// technical
@import "mixins/circle"
@import "mixins/square"
@import "mixins/image"
@import "mixins/svg"
@import "mixins/responsive"
@import "mixins/wave"
@import "mixins/badge"
@import "mixins/icons"
@import "variables"

// global
@import "scaffolding"

// layouts
@import "header"
@import "slogan"
@import "content"
@import "footer"

// blocks
@import "logo"
@import "contacts-list"
@import "contacts-header"
@import "slogan-text"
@import "latest-works-badge"
@import "latest-works-title"
@import "latest-works-scroll"
@import "latest-works-scroll-list-item"
@import "latest-works-scroll-list-item-title"
@import "latest-works-divider"
@import "links"
@import "contacts-footer-badge"
@import "contacts-footer"
@import "copyrights"
