.slogan .slogan-text
    width 850px
    height 400px
    margin 80px auto 150px

    hide-text()
    retina-background-image("slogan")
    retina-background-image-tablet("slogan-tablet")
    svg-background-image("slogan")

    @media (max-width: 979px)
        width 740px
        height 348px
        margin-top 50px
        margin-bottom 120px
