.slogan
    silver-background()
    clamp-background()

    // fix anchor position
    .slogan-icon
        display block

    .slogan-divider
        wave()
        silver-to-beige-wave()

    // hidden on phone
    @media (max-width: 767px)
        display none
