.slogan .slogan-text
    responsive width 850px 740px
    responsive height 400px 348px
    responsive margin, 80px auto 150px, \
                       50px auto 120px
    responsive image "slogan" "slogan-tablet"
    svg "slogan"
    hide-text()
