.content.case-description
    responsive width 500px 460px 300px
    float left

  .case-description img
    responsive width auto same 300px

  .case-info
    responsive display block same same
    responsive width 320px 657px 300px
    responsive float right none same

    .case-title
      responsive font-size 49px same 35px
      responsive line-height 42px same 35px
      responsive margin-top 15px 0 0
      responsive width auto 320px 300px
      responsive text-align left same center
      responsive float none left same
    
    .task-info
      responsive margin-top 11px same 0
      responsive width auto 300px same
      responsive text-align left same center
      responsive float none right left
      responsive font-size 16px same 18px
      responsive line-height 21px same 18px

    .task-description
      clear both
      padding 45px 0
      overflow hidden

      .task-description-title
        font-size 21px

      .task-description-start
        color #FFFFFF
        float left
        font-size 61px
        line-height 50px

      .task-description-txt  
        font-style italic
        padding 0 25px
        font-size 14px
        float left
        width 205px

      .task-description-end 
        color #FFFFFF
        float left
        font-size 61px
        line-height 50px

  .sitelink
    background #93625E
    display inline-block
    font-size 18px
    padding 7px 10px
    color #ffffff
    position relative

  .sitelink:before
    content ''
    display block
    position absolute
    top 0px
    right -36px
    width 0
    height 0
    border-color transparent transparent transparent #93625E
    border-style solid
    border-width 18px
