.contacts.contacts-header .contacts-list
  // move to one line with logo
  responsive position absolute same static
  z-index contacts-index
  responsive top 100px 90px

  // centrify
  left 50%
  responsive margin, 0 0 0 -470px, \
                     0 0 0 -375px, \
                     20px auto 10px
