.contacts .contacts-list
  responsive width 940px 740px 300px
  margin 0 auto
  padding 0
  list-style none
  responsive font-size 22px 20px 16px
  font-style italic
  clearfix()

  .contacts-list-email
    float left

    .contacts-list-email-link:before
      responsive margin-right 5px 25px 0
      icon-mail()

      @media (max-width: 979px)
        hide-icon()

  .contacts-list-phone
    float right

    &:before
      // must be little bit bigger
      font-size 25px

      icon-phone()

      @media (max-width: 979px)
        hide-icon()
