.links
  responsive width 900px 720px 300px
  responsive margin, 50px auto 110px, \
                     same, \
                     15px auto 20px
  padding 0
  list-style none
  clearfix()

  .links-item
    float left
    responsive font-size 35px same 16px

    // first line
    &.links-item-portfolio, &.links-item-vacancies
      responsive width 50% same 100%
      responsive margin-bottom 70px 60px 25px

      .links-item-link
        display block

        // fix vacancies
        max-width 360px

        margin 0 auto
        text-align center
        responsive font-size 60px same 24px

        // icons above link
        &:before
          position relative
          text-shadow 0 -1px 0 black
          responsive font-size 100px same 60px

    // second line
    &.links-item-freelansim, &.links-item-card, &.links-item-github
      .links-item-link:before
        responsive margin-right 10px same 0

        @media (max-width: 767px)
          hide-icon()

    // item-specific styles
    &.links-item-portfolio .links-item-link:before
      left 5px
      icon-portfolio()

    &.links-item-vacancies .links-item-link:before
      right 3px
      icon-vacancies()

    &.links-item-freelansim
      responsive width 30% 35% 40%

      .links-item-link:before
        icon-freelansim()

    &.links-item-card
      responsive width 45% 40% 35%
      text-align center

      .links-item-link:before
        icon-card()

    &.links-item-github
      width 25%
      text-align right

      .links-item-link:before
        icon-github()

    // item-vacancies styles
    &.links-item-vacancies.php, &.links-item-vacancies.manager
      .links-item-link
        responsive font-size 35px 28px 24px

        span
          white-space nowrap
          display block     
