.logo
  // fixed z-index
  position relative
  z-index logo-index

  display block
  responsive width 360px 300px 200px
  responsive height 122px 102px 68px
  responsive margin, 50px auto 30px, \
                     same, \
                     15px auto 20px
  responsive image "logo" "logo-tablet" "logo-phone"
  svg "logo"
  hide-text()
