.portfolio.portfolio-index
  .portfolio-title
    responsive image "portfolio-title-background-index" \
                     "portfolio-title-background-index-tablet" \
                     "portfolio-title-background-phone"
    responsive svg "portfolio-title-background-index" \
                   "portfolio-title-background-index-tablet" \
                   "portfolio-title-background-phone"

  .portfolio-scroll .portfolio-scroll-list
    responsive margin, 60px auto, \
                       60px auto 50px, \
                       0 auto
