.portfolio .portfolio-title
  responsive width 850px 740px 300px
  responsive margin, 100px auto 60px, \
                     80px auto 60px, \
                     20px auto 20px

  // style background image
  responsive image "portfolio-title-background" \
                   "portfolio-title-background-tablet" \
                   "portfolio-title-background-phone"
  responsive svg "portfolio-title-background" \
                 "portfolio-title-background-tablet" \
                 "portfolio-title-background-phone"
  background-repeat no-repeat
  background-position left center
  line-height 1
  text-align center
  responsive font-size 50px same 35px
