.portfolio .portfolio-scroll .portfolio-scroll-list \
    .portfolio-scroll-list-item .portfolio-scroll-list-item-title
  // move over image
  responsive position absolute static
  responsive square 240px auto
  responsive margin, -245px 5px 5px, 10px 0 0, 5px 0 0

  .portfolio-scroll-list-item-title-link
    // hide by default
    responsive display none block

    responsive background white none
    responsive opacity .8 1
    responsive line-height 240px 1
    text-align center
    text-decoration none
    responsive text-shadow, 1px 1px 1px white, none
    font-family "Open Sans"
    responsive font-size 20px 18px 16px
    font-weight 300
    color black
    circle()

    // brackets around title
    &:before, &:after
      position relative
      top 2px
      text-shadow 1px 1px 1px white
      font-size 30px

    &:before
      responsive content "{" ""
      margin-right 5px

    &:after
      responsive content "}" ""
      margin-left 5px

    // better opacity if rgba is supported
    .rgba &
      opacity 1
      responsive background rgba(255, 255, 255, .8) none

  // show title on hover
  &:hover .portfolio-scroll-list-item-title-link
    display block
