html
  font 300 16px "Open Sans", sans-serif
  color text

a        { color: link   }
a:hover  { color: hover  }
a:active { color: active }

h1, h2, h3, h4, h5, h6
  font-family "Yeseva One", serif    
  font-weight normal

selection()
  background link
  color beige
::selection
  selection()
::-moz-selection
  selection()
