.slogan .slogan-text
  responsive width 850px 740px
  responsive height 400px 348px
  responsive margin, 60px auto 120px, \
                     40px auto 100px
  responsive image "slogan" "slogan-tablet"
  svg "slogan"
  hide-text()
