@font-face
  font-family "icons"
  src url("/icons/icons.eot")
  src url("/icons/icons.eot?#iefix") format("embedded-opentype"),
    url("/icons/icons.woff") format("woff"),
    url("/icons/icons.ttf") format("truetype"),
    url("/icons/icons.svg#rithis") format("svg")

icon(symbol)
  content symbol
  display inline-block
  font-family "icons"
  font-style normal

icon-mail()
  icon("\f0000")
icon-phone()
  icon("\f0001")
icon-portfolio()
  icon("\f0002")
icon-vacancies()
  icon("\f0003")
icon-freelansim()
  icon("\f0004")
icon-card()
  icon("\f0005")
icon-github()
  icon("\f0006")

hide-icon()
  content "" !important
