same = false

-image-responsive(browser-value, tablet-value, phone-value = same)
  -image-browser browser-value
    
  if tablet-value is not same and tablet-value != browser-value
    -image-tablet tablet-value
    
  if phone-value is not same and phone-value != tablet-value
    -image-phone phone-value

browser(name, value)
  add-property name, value

tablet(name, value)
  @media (max-width: 979px)
    add-property name, value

phone(name, value)
  @media (max-width: 767px)
    add-property name, value

responsive(name, browser-value, tablet-value, phone-value = same)
  if s("%s", name) == "image"
    -image-responsive browser-value tablet-value phone-value
  else
    browser name browser-value
        
    if tablet-value is not same and tablet-value != browser-value
      tablet name tablet-value
        
    if phone-value is not same and phone-value != tablet-value
      phone name phone-value
